*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
#########
## Django
#########
*.log
*.pot
local_settings.py
settings_local.py
##########
## Eclipse
##########
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

##########
## PyCharm
##########
.idea/

# CDT-specific
.cproject